@use 'mixins_funciones_mapa' as *;
@use 'sass:map';

footer {
  display: flex;
  box-sizing: border-box;
  background-color: map.get($colores, "principal");
  overflow: hidden;
  min-height: 25%; 

  #contacto {
    display: flex;
    overflow: hidden;

    #redes_sociales, #como_llegar {
      @include flexible(flex, column, nowrap, flex-start, flex-start);

      h3 {
        background-color: white;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        font-family: averia-serif;
        text-align: center;
        @include flexible(flex, row, nowrap, center, center);
        min-height: auto;
        font-size: 1rem;
      }

      p {
        display: flex;
        align-items: center;
        color: white;
        margin: 0;
        white-space: nowrap;
        @include aplicar_fuente('p', 'LTMuseum-Light');

        img {
          margin-right: 10px;
          height: auto;
          max-width: 100%;
        }
      }
    }
  }

  
  iframe {
    display: flex;
    width: 100%;
    max-width: 650px;
    height: 100%;
  }

  // Móviles
  @include movil {
    flex-direction: column;
    min-height: 37%;
    margin: 0;

    @include altura("896") {
      min-height: 32%;
    }

    iframe {
      margin-top: 1%;
      width: 100%;
      order: 1;
      height: 100%; 
    }

    #contacto {
      justify-content: space-between;
      order: 2;
      width: 100%;

      #redes_sociales, #como_llegar {
        padding-left: 1%;
        padding-right: 1%;
        width: 40%;

        h3 {
          font-size: 80%;
          min-height: auto;
        }

        p {
          margin-bottom: 10px;

          img {
            max-width: 15%;
          }
        }
      }
    }
  }

  // Tabletas
  @include tableta {
    flex-direction: column;
    align-items: center;
    min-height: 40%;
    margin: 0;

    iframe {
      align-items: center;
      margin-top: 2%;
      width: 100%;
      max-width: 400px;
      order: 1;
      height: 100%; 
    }

    #contacto {
      margin-top: 1%;
      justify-content: space-between;
      order: 2;
      width: 90%;

      #redes_sociales, #como_llegar {
        padding: 0 1%;
        width: 45%;

        h3 {
          font-size: 1.1rem;
          min-height: auto;
        }

        p {
          margin-bottom: 0.5rem;

          img {
            max-width: 20%;
          }
        }
      }
    }
  }

  // Pantallas pequeñas
  @include pantalla_pequeña {
    justify-content: space-between;
    min-height: 22%;

    #contacto {
      justify-content: space-evenly;
      width: 100%;

      #redes_sociales, #como_llegar {
        width: 45%;

        h3 {
          margin-top: 10%;
          font-size: 1.4rem;
          min-height: auto;
        }

        p {
          font-size: 1.3rem;
          margin-bottom: 1.5rem;

          img {
            max-width: 40px;
          }
        }
      }
    }

    iframe {
      width: 90%;
      max-width: 350px;
      height: 100%; 
    }
  }

  // Pantallas estándar
  @include pantalla_estandar {
    justify-content: space-between;
    min-height: 25%;

    #contacto {
      justify-content: space-around;
      width: 100%;

      #redes_sociales, #como_llegar {
        width: 30%;
        margin-left: 20px;

        h3 {
          font-size: 1.8rem;
          min-height: auto;
          @include altura("1080") {
            font-size: 2.2rem;
          }
        }

        p {
          font-size: 1.8rem;
          margin-bottom: 0.8rem;
          @include altura("1080") {
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
          }

          img {
            max-width: 40px;
          }
        }
      }
    }

    iframe {
      width: 90%;
      max-width: 350px;
      height: 100%; 
    }
  }

  // Pantallas grandes
  @include pantalla_grande {
    justify-content: space-between;
    min-height: 25%;

    #contacto {
      justify-content: space-around;
      width: 100%;

      #redes_sociales, #como_llegar {
        width: 25%;

        h3 {
          font-size: 2.5rem;
          min-height: auto;
        }

        p {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;

          img {
            max-width: 10%;
          }
        }
      }
    }

    iframe {
      width: 100%;
      max-width: 650px;
      height: 100%; 
    }
  }
}
