@use 'mixins_funciones_mapa' as *;
@use 'sass:map';

/* Creación del html y el body en conjunto para que se comparta en todos los archivos, se quitan los márgenes
para que se incluya todo el contenido */
html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // Overflow-x para que no haya errores con el móvil
    overflow-x: hidden;    
}

// Creación del header
header {
    width: 100%;
    min-height: 10%;
    overflow: hidden;
    background-color: map.get($colores, "principal"); 
    @include flexible(flex, row, nowrap, space-around, center);
    
}

header button {   
    border-radius: 10%;
    background-color: white;
    color: black;
    font-family: averia-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    width: 40%;    
    font-size: 2vh;
    height: 4vh; 

    @include movil() {
        font-size: 1.5vh; 
    }

    @include tableta() {
        font-size: 1.4vh;
        height: 4.5vh;
        width: 15%;
    }

    @include pantalla_pequeña() {
        font-size: 1.5vh;
        height: 3.8vh;
        width: 18%;
    }

    @include pantalla_estandar() {
        font-size: 2vh; 
        width: 10%;
        height: 5vh; // Altura fija para pantallas estándar
    }

    @include pantalla_grande() {
        font-size: 2vh; // Copiado de pantalla_estandar
        width: 10%; // Copiado de pantalla_estandar
        height: 5vh; // Copiado de pantalla_estandar
    }
}

// Botón para el CTA con la función correspondiente
#pedir_cita {
    @include aplicar_fuente('button', 'MilkAndHoney');
}

// Colocación del logo con diferentes alturas para cada dispositivo
header img {    
    object-fit: cover;

    @include movil() {
        max-width: 20%;
    }

    @include tableta() {        
        max-width: 10%;
    }

    @include pantalla_pequeña() {
        max-width: 10%;
        max-height: 10%;
    }

    @include pantalla_estandar() {
        max-width: 10%;
        max-height: 10%;
    }

    @include pantalla_grande() {
        max-width: 10%; // Copiado de pantalla_estandar
        max-height: 10%; // Copiado de pantalla_estandar
    }
}