/*Archivo para mostar las modalidades de terapia del cliente*/
@use '../global/mixins_funciones_mapa.scss' as *;
@use "sass:map";



/*Estilos generales, en este caso destacan aquellos que son en columna dividido a 2, menos para los telefonos inteligentes*/
#modalidades {
  overflow: hidden;
  background-color: map.get($colores, "secundario_dos");
  min-height: 45%;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;  

  @include tableta() {    
    flex-direction: row;    
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1%;
    text-align: center;
    min-height: 25%;
  }

  @include pantalla_pequeña() {
    flex-direction: row;    
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1%;
    text-align: center;
    min-height: 25%;
  }

  @include pantalla_estandar() {
    flex-direction: row;    
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1%;
    text-align: center;
    min-height: 15%;
    img {
      max-width: 90%;
      max-height: 90%;
    }
  }

  @include pantalla_grande() {
    flex-direction: row;    
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1%;
    text-align: center;
    min-height: 25%;
    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}

//Compartido para ambos para que sean repetidos
#presencial, #online {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include movil() {
    width: 90%;
    height: 80%;
  }

  @include tableta() {
    width: 50%;
    height: 80%;
  }

  @include pantalla_pequeña() {
    width: 50%;
    height: 80%;
    min-height: 25%;
  }

  @include pantalla_estandar() {
    width: 50%;
    height: 80%;
    min-height: 25%;
  }

  @include pantalla_grande() {
    width: 50%;
    height: 80%;
    min-height: 25%;
  }

  p {
    background-color: white; 
    text-align: center;   
    @include aplicar_fuente('p', 'Classica-Bold');

    @include movil() {
      height: 10%;
      width: 100%;
      text-transform: uppercase;
    }

    @include tableta() {
      height: 15%;
      width: 80%;
    }

    @include pantalla_pequeña() {
      height: 15%;
      width: 80%;
      font-size: 2vh;
    }

    @include pantalla_estandar() {
      height: 15%;
      width: 80%;
      font-size: 3vh;
      
    }

    @include pantalla_grande() {
      height: 15%; 
      width: 80%; 
      font-size: 4vh;
      @include aplicar_fuente('p', 'Classica-Bold');
       
    }
  }

  
  img {        
    margin: 0 auto;
    max-width: 60%; 
    max-height: 60%;

    @include movil() {
      max-width: 100%;
      max-height: 100%;      
    }
    
}
}