/*Archivo que sirve para mostrar la cartera de trastornos y población que se trata, lo que destaca es el uso
de flex-wrap con margen para controlar el espacio para cada resolucion*/
@use '../global/mixins_funciones_mapa.scss' as *;
@use 'sass:map';

/*Estilos compartido en su mayoria, solo es necesario editar futuramente los margenes para seprar más o menos
en función de las necesidades del dispostivo*/
#especialidades {
    box-sizing: border-box;
    @include flexible(flex, column, nowrap, center, center);
    min-height: 45%;
    background-color: map.get($colores, "secundario_uno");
    overflow: hidden;
    @include tableta() {
        min-height: 50%;
        justify-content: flex-start;
    }

    @include tableta() {        
        justify-content: flex-start;
    }

    h3 {
        padding-top: 0;
        background-color: white;
        align-self: center;
        text-align: center;
        @include aplicar_fuente('h3', 'Classica-Bold');

        // Resoluciones de móvil
        @include movil() {
            font-size: 2.5vh;
            margin-top: 10%;
        }

        // Resoluciones de tableta
        @include tableta() {
            font-size: 1.1em;
            width: 90%;
            margin-top: 2%;
        }

        // Resoluciones de pantalla pequeña
        @include pantalla_pequeña() {
            font-size: 1.6em;
            width: 90%;
            margin-top: 2%;
        }

        
        @include pantalla_estandar() {
            font-size: 1.6vh; 
            width: 90%; 
            margin-top: 2%; 
        }

        // Resoluciones de pantalla grande
        @include pantalla_grande() {
            font-size: 2.6vh; // Copiado de pantalla_pequeña
            width: 90%; // Copiado de pantalla_pequeña
            margin-top: 2%; // Copiado de pantalla_pequeña
        }
    }

    article {
        margin-left: 0.8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;       
        padding: 0;
        align-content: center;

        // Resoluciones de pantalla estándar (1280x800)
        @include pantalla_estandar() {
            height: 80%;
            width: 90%;
            flex-direction: row; // Copiado de pantalla_pequeña
            flex-wrap: wrap; // Copiado de pantalla_pequeña
            align-items: center; // Copiado de pantalla_pequeña
            justify-content: center; // Copiado de pantalla_pequeña
        }

        // Resoluciones de pantalla grande
        @include pantalla_grande() {
            height: 80%;
            width: 80%;
            flex-direction: row; // Copiado de pantalla_pequeña
            flex-wrap: wrap; // Copiado de pantalla_pequeña
            align-items: center; // Copiado de pantalla_pequeña
            justify-content: center; // Copiado de pantalla_pequeña
        }

        // Resoluciones de tableta
        @include tableta() {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        // Resoluciones de pantalla pequeña
        @include pantalla_pequeña() {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        p {
            text-align: center;
            text-transform: uppercase;
            background-color: white;
            height: 10%;
            width: 45%;
            margin: 2%;
            padding: 0;            
            @include aplicar_fuente('p', 'LTMuseum-Light');

            // Resoluciones de móvil
            @include movil() {
                width: 90%;            
                font-size: 2.5vh;
            }

            // Resoluciones de tableta
            @include tableta() {
                font-size: 1.1em;
                margin: 2.5%;
                width: 45%;  
            }

            // Resoluciones de pantalla pequeña
            @include pantalla_pequeña() {
                width: 15%;
                margin: 3.5%;                
                height: 7vh;
                font-size: 3vh;
                text-align: center;
                line-height: normal; 
            }

            // Resoluciones de pantalla estándar (1280x800)
            @include pantalla_estandar() {
                width: 15%;
                margin: 3.5%;                
                height: 7vh;
                font-size: 3vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // Resoluciones de pantalla grande
            @include pantalla_grande() {
                width: 15%; // Copiado de pantalla_estandar
                margin: 3.5%; // Copiado de pantalla_estandar
                height: 7vh; // Copiado de pantalla_estandar
                font-size: 3vh; // Copiado de pantalla_estandar
                display: flex; // Copiado de pantalla_estandar
                justify-content: center; // Copiado de pantalla_estandar
                align-items: center; // Copiado de pantalla_estandar
            }
        }
    }
}
