/*Archivo para mostar las modalidades de terapia del cliente*/
@use '../global/mixins_funciones_mapa.scss' as *;
@use "sass:map";

/*Estilos generales, en este caso destacan aquellos que son en columna dividido a 2, menos para los telefonos inteligentes*/
#modalidades {
  overflow: hidden;
  background-color: map.get($colores, "secundario_dos");
  min-height: 45%;

  @include movil() {
    @include flexible(flex, column, nowrap, flex-start, center);
    
  }

  @include tableta() {
    @include flexible(flex, row, nowrap, space-around, flex-start);
    padding-top: 1%;
    text-align: center;
    height: 25%;
  }

  @include pantalla_pequeña() {
    @include flexible(flex, row, nowrap, center, center);
    height: 30%;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
  }

  @include pantalla_estandar() {
    @include flexible(flex, row, nowrap, space-around, flex-start);
    padding-top: 1%;
    text-align: center;
    height: 40%;
    @include altura("864") {
      height: 50%;
    }
  }

  @include pantalla_grande() {
    @include flexible(flex, row, nowrap, space-around, flex-start);
    padding-top: 1%;
    text-align: center;
    height: 40%;
  }
}

//Compartido para ambos para que sean repetidos
#presencial, #online {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @include movil() {
    width: 90%;
    height: 80%;
  }

  @include tableta() {
    width: 40%;
    height: 80%;
  }

  @include pantalla_pequeña() {
    width: 60%;
    height: 90%;
    justify-content: center; 
  }

  @include pantalla_estandar() {
    width: 40%;
    height: 80%;
  }

  @include pantalla_grande() {
    width: 40%;
    height: 80%;
  }

  p {
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include aplicar_fuente('p', 'Classica-Bold');

    @include movil() {
      height: 10%;
      width: 100%;
      text-transform: uppercase;
    }

    @include tableta() {
      height: 15%;
      width: 80%;
    }

    @include pantalla_pequeña() {
      height: 10%;
      width: 60%;
      font-size: 25px;
    }

    @include pantalla_estandar() {
      height: 10%;
      width: 60%;
      font-size: 20px;
      @include altura("864") {
        font-size: 25px;
      }
    }

    @include pantalla_grande() {
      height: 10%;
      width: 65%;
      font-size: 35px;
      @include aplicar_fuente('p', 'Classica-Bold');
      display: flex;
      align-items: center;
      justify-content: center; 
    }
  }

  //Ajuste de imagen para que se vea bien en todos los dispositivos y sea adecue a su contenedor
  img {
    object-fit: cover;
    display: block;
    margin: 0 auto;

    @include movil() {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }

    @include tableta() {
      max-width: 90%;
      max-height: 90%;
    }

    @include pantalla_pequeña() {
      max-width: 90%;
      max-height: 90%;
    }

    @include pantalla_estandar() {
      max-width: 80%;
      max-height: 80%;
    }

    @include pantalla_grande() {
      max-width: 80%;
      max-height: 80%;
    }
  }
}